@use 'assets/sass/mixins' as mixin;

.link {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-size: 20px;

  transition: color 250ms var(--transition-function-primary);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-accent);
    outline: none;
  }

  @include mixin.tablet {
    font-size: 24px;
  }

  svg {
    font-size: 16px;

    @include mixin.tablet {
      font-size: 20px;
    }
  }
}
