@use 'assets/sass/mixins' as mixin;

.wrapper {
  padding: 20px 20px 30px;
}

.author {
  margin-bottom: 10px;

  font-weight: 700;

  @include mixin.tablet {
    font-size: 20px;
  }
}

.content {
  margin-bottom: 10px;

  line-height: 1.25;
  color: var(--text-color-secondary);
}

.link {
  margin-bottom: 10px;
  display: inline-block;

  font-weight: 500;
  color: var(--text-color-primary);

  transition: color 250ms var(--transition-function-primary);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.releaseDate {
  font-weight: 500;
}
