@use 'assets/sass/mixins' as mixin;

.wrapper {
  margin-bottom: 10px;

  @include mixin.tablet {
    display: flex;
    justify-content: flex-start;
  }
}

.poster {
  margin: 0 auto 10px;
  max-height: 50vh;
  min-height: 300px;
  min-width: 240px;

  @include mixin.tablet {
    margin: 0 20px 10px 0;
    max-width: 300px;
  }

  @include mixin.desktop {
    margin: 0 30px 10px 0;
    max-width: 400px;
  }
}

.info {
  font-size: 14px;
  line-height: 1.5;

  @include mixin.tablet {
    font-size: 16px;
  }

  @include mixin.desktop {
    font-size: 18px;
  }
}

.title {
  margin-bottom: 0;

  font-size: 28px;

  @include mixin.tablet {
    font-size: 32px;
  }

  @include mixin.desktop {
    font-size: 36px;
  }
}

.score {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    fill: var(--color-accent);
  }
}

.genre {
  margin-bottom: 5px;
}

.heading {
  font-size: 20px;

  @include mixin.tablet {
    font-size: 24px;
  }

  @include mixin.desktop {
    font-size: 28px;
  }
}

.overview {
  margin-bottom: 5px;

  color: var(--text-color-secondary);
}

.date {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;

  font-size: 16px;

  @include mixin.tablet {
    font-size: 18px;
  }

  @include mixin.desktop {
    font-size: 20px;
  }

  span {
    font-weight: 500;
  }
}

.box {
  display: flex;
  gap: 20px;
}

.additionalInfo {
  .heading {
    margin-bottom: 10px;
  }
}

.links {
  margin-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mixin.tablet {
    margin-bottom: 15px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;

  font-weight: 500;

  transition: color 250ms var(--transition-function-primary);

  &:hover,
  &:focus,
  &:global(.active) {
    color: var(--color-accent);
  }

  &::before {
    content: '';

    display: inline-block;
    width: 7px;
    height: 7px;

    border-radius: 50%;
    background-color: currentColor;
  }

  @include mixin.tablet {
    font-size: 18px;
  }
}
