@use 'assets/sass/mixins' as mixin;

.lang {
  position: relative;

  font-size: 14px;
  font-weight: 500;

  svg {
    pointer-events: none;
    font-size: 20px;

    transition: transform 250ms var(--transition-function-primary);
  }

  button {
    padding: 7px 10px;
  }
}

.langList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 100%;

  border-radius: 10px;
  background-color: var(--background-color-primary);
  border: 1px solid var(--text-color-secondary);

  overflow: hidden;

  transition: transform 350ms var(--transition-function-primary),
    opacity 350ms var(--transition-function-primary);

  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
}

.shown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.langBtn {
  padding: 10px;
  width: 100%;
  height: 100%;

  text-align: left;
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
  box-shadow: 0 0 1px var(--text-color-primary);

  transition: color 250ms var(--transition-function-primary),
    background-color 250ms var(--transition-function-primary);

  &:hover,
  &:focus {
    color: var(--background-color-primary);
    background-color: var(--color-accent);
  }
}
