@use 'assets/sass/mixins' as mixin;

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;

  @include mixin.tablet {
    grid-template-columns: repeat(5, 1fr);
  }

  @include mixin.desktop {
    grid-template-columns: repeat(7, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
