@use 'assets/sass/mixins' as mixin;

.container {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;

  @include mixin.tablet {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 768px;
  }

  @include mixin.desktop {
    max-width: 1200px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  padding: 10px 0;
  width: 100%;

  background-color: var(--background-color-primary);
  box-shadow: 0 0 1px var(--text-color-primary);
}

.main {
  flex-grow: 1;
  padding-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @include mixin.tablet {
    gap: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 22px;
  font-weight: 500;

  transition: color 250ms var(--transition-function-primary);

  &:hover,
  &:focus {
    color: var(--color-accent);
    outline: none;
  }

  @include mixin.tablet {
    margin-right: 20px;

    font-size: 34px;
  }

  @include mixin.desktop {
    margin-right: 30px;

    font-size: 36px;
  }
}

.footer {
  padding: 20px 0;

  background-color: var(--background-color-primary);
  box-shadow: 0 0 1px var(--text-color-primary);

  @include mixin.tablet {
    padding: 30px 0;
  }
}

.mark {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  svg {
    font-size: 20px;
  }

  @include mixin.tablet {
    font-size: 20px;

    svg {
      font-size: 24px;
    }
  }
}
