@use 'assets/sass/mixins' as mixin;

.link {
  position: relative;
  min-height: 150px;
  max-height: 500px;

  overflow: hidden;

  &:hover {
    .poster {
      transform: scale(1.05);
    }
  }

  @include mixin.tablet {
    min-height: 200px;
  }
}

.poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;

  transition: transform 250ms var(--transition-function-primary);

  @include mixin.tablet {
    min-height: 234px;
    max-height: none;
  }
}

.icon {
  position: absolute;
  top: 0;
  right: 10%;

  font-size: 20px;
  color: var(--color-accent);
}

.title {
  font-size: 14px;

  @include mixin.tablet {
    font-size: 20px;
  }
}

.score {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;

  svg {
    fill: var(--color-accent);
  }

  @include mixin.tablet {
    font-size: 16px;
  }

  @include mixin.desktop {
    font-size: 18px;
  }
}
