@use 'assets/sass/mixins' as mixin;

body {
  margin: 0;

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color-primary);
  background-color: var(--background-color-primary);

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-bottom: 16px;
  font-size: 28px;

  @include mixin.tablet {
    margin-bottom: 20px;

    font-size: 32px;
  }
}

a,
button {
  cursor: pointer;
}

#root {
  padding: 80px 0 60px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  overflow: auto;

  @include mixin.tablet {
    padding: 105px 0 0;
  }
}
