div.simplebar-scrollbar {
  &:before {
    background-color: var(--text-color-primary);
  }
}

div.simplebar-content-wrapper {
  height: 100%;
}

div.simplebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
