@use 'assets/sass/mixins' as mixin;

div.swiper-button-prev,
div.swiper-button-next {
  padding: 15px 25px;

  color: var(--color-accent);
  transition: transform 250ms var(--transition-function-primary);

  &:hover {
    transform: scale(1.15);
  }

  &::before,
  &::after {
    font-size: 18px;
    font-weight: 700;

    @include mixin.tablet {
      font-size: 24px;
    }

    @include mixin.desktop {
      font-size: 30px;
    }
  }
}

div.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: var(--color-accent);

    opacity: 0.4;

    transition: background-color 250ms var(--transition-function-primary),
      opacity 250ms var(--transition-function-primary);

    &-active {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

div.simplebar-content-wrapper {
  height: 100%;
}
