@use 'assets/sass/mixins' as mixin;

body {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 15px 25px;

    color: var(--color-accent);
    transition: transform 250ms var(--transition-function-primary);

    &:hover {
      transform: scale(1.1);
    }

    &::before,
    &::after {
      font-size: 18px;
      font-weight: 700;

      @include mixin.tablet {
        font-size: 24px;
      }

      @include mixin.desktop {
        font-size: 30px;
      }
    }
  }
}
